<ion-header>
  <ion-toolbar>
    <ion-title>
      Decklisto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label position="stacked">MTGGoldfish decklist URL</ion-label>
  <ion-input [(ngModel)]="decklisturl" placeholder="https://www.mtggoldfish.com/deck/..."></ion-input>
  <ion-button (click)="fetch()">
    <ion-icon name="cloud-download"></ion-icon>
    &nbsp;Fetch
  </ion-button>
  <ion-textarea [(ngModel)]="localisedDecklist" readonly="true" rows="30">
  </ion-textarea>
</ion-content>
